{#for todo in todos}
    <li id="todo-{todo.id}" class="mb-4">
    <div class="border p-4">
    <strong>ID:</strong> {todo.id},
    <strong>Name:</strong> {todo.name},
    <strong>Description:</strong> {todo.description},
    <strong>Done:</strong> {#if todo.done}'Yes'{#else}'No'{/if}
    {#if !todo.done}
        <button hx-put="/todos/{todo.id}/complete" hx-trigger="click" class="bg-blue-500 text-white px-4 py-2 rounded-full mt-2" hx-swap="outerHTML" hx-target="#todo-{todo.id}">Mark as Completed</button>
    {/if}
    </div>
    </li>
{/for}